@{
    ViewBag.Title = "TOP 10 COVID-19 CASES";
}
 
<script src="~/Scripts/Home/Index.js?ver=@DateTime.Now"></script>

<h2>
    TOP 10 COVID-19 CASES
</h2>

<div id="row">
    <div id="grid"></div>

</div>



