@{
    ViewBag.Title = "Home Page";
}

<script type="text/x-kendo-template" id="template">
    <div class="refreshBtnContainer">
        <a href="\\#" class="k-pager-refresh k-link k-button k-button-icon" title="Refresh"><span class="k-icon k-i-reload"></span></a>
    </div>
    <div class="toolbar">
        <label class="category-label" for="category">Show products by category:</label>
        <input type="search" id="category" style="width: 150px" />
    </div>
</script>

<script src="~/Scripts/Home/Index.js?ver=@DateTime.Now"></script>

<h2>
    TOP 10 COVID-19 CASES
</h2>

<div id="row">
    <div id="grid"></div>

</div>



